  
  
<div class="loaderWrapper" ng-show="showLoader">
  <div class="loader">Loading...</div>
</div>
  
<div id="listContainer"  layout="column" ng-cloak>
<h2>{{ 'EVENT.NEEDER_LIST' | translate }} </h2>

	<div layout="row" layout-align="end center"> {{dataList.length}} /{{getDataCount}} {{ 'DONOR.RECORDS_FOUND' | translate }}
		 <md-button ng-click="refleshPage()" > <i class="fa fa-refresh" aria-hidden="true"></i> Yenile</md-button>
	   </div>   
	   
	   
  
 
	<table class="ui compact celled definition table">
		  <thead class="full-width">
		     <tr ng-if="screenWidth>767">
		       <th></th> 
		       <th>ID</th> 
		       <th>Hasta / Doktor ismi</th>
		       <th>Konum</th>
		       <th>{{ 'EVENT.START_DATE' | translate }}</th>
		       <th>{{ 'EVENT.END_DATE' | translate }}</th>
		       <th>Aranan Kan Grubu</th>
<!-- 		       <th>Detail</th> -->
		       <th>{{ 'EVENT.ACTION' | translate }}</th> 
		     </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="data in  dataList" >
		        <th  ng-if="screenWidth>767">  
		           <div class="checkbox">
				     <label>
				       <input type="checkbox"ng-model="data.selected" ng-click="selectData(data)"> 
				     </label>
				   </div> 
		        </th>
			    <th>{{data.id}}</th>
		        <td class="dataName">{{data.dataName}}</td>
		        <td>
		        	<div ng-click="redirectForMap(data.xLocation,data.yLocation)">haritaya git</div>
		        	Enlem:{{data.xLocation}}-
		        	Boylam: {{data.yLocation}}</td>
       	        <td class="dataType" disabled="true">
   	        		<div disabled="true" type="date">{{data.startDate | date:'dd/MM/yyyy' }}</div>    
       	        </td>
      	        <td class="dataType">
   	       		    <div type="date">{{data.endDate| date:'dd/MM/yyyy' }}</div>  
      	       	</td>
      	       	  <td class="dataType"  >
      	       		 <div>{{data.bloodType| translate}}</div>  
      	       	</td>
      	        
<!--       	        <td class="dataType">{{data.detail}}  </td> -->
		       
		           <td class="h_30"> 
		         		 <p class="f_l">
		          		 <button class="btn btn-primary btn-xs" ui-sref="private.updateEvent({eventId: data.id})" >
		          			<span class="glyphicon glyphicon-pencil"></span>
		          		 </button>
		         		 </p>
		         		 
		         		 <p class="f_l">
					  	<button class="btn btn-danger btn-xs" ng-click="removeSelectedData(data.id)">
					  		<span class="glyphicon glyphicon-trash"></span>
					  	</button>
				  	 </p>
		      		 </td>
				  
		      </tr>
		  </tbody> 
	</table>

     		<ul uib-pagination ng-click="setPagingData()" total-items="getDataCount"items-per-page="searchQuery.offset" ng-model="currentPage" max-size="3" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages"></ul>
   
         <pre>Sayfa: {{currentPage}} / {{numPages}}</pre>
	   </div> 
	   
	     <a ui-sref="private.createEvent" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'EVENT.CREATE' | translate }}</a>
 	     <td class="col-md-1"><a ng-click="removeData()" class="btn btn-warning"><i class="fa fa-trash-o"></i> {{ 'EVENT.DELETE' | translate }}</a></td>
		